# Local 
DATABASE_URL="postgresql://mundial:mundial_dev@localhost:5434/gestor_mundial?schema=public"
DIRECT_URL="postgresql://mundial:mundial_dev@localhost:5434/gestor_mundial?schema=public"

PORT=4000

CORS_ORIGIN=
